@import url(http://weloveiconfonts.com/api/?family=fontawesome);
/* fontawesome */
[class*="fontawesome-"]:before {
  font-family: 'FontAwesome', sans-serif;
}

.github--ribbon {
  position: fixed;
  z-index: 999999999999;
  width: 10em;
  height: 10em;
  background: #bdc3c7;
  -webkit-transform: rotate(-45deg) translateY(-5em) translateX(-5em) scale(1);
  -moz-transform: rotate(-45deg) translateY(-5em) translateX(-5em) scale(1);
  -ms-transform: rotate(-45deg) translateY(-5em) translateX(-5em) scale(1);
  -o-transform: rotate(-45deg) translateY(-5em) translateX(-5em) scale(1);
  transform: rotate(-45deg) translateY(-5em) translateX(-5em) scale(1);
  box-shadow: inset 0 0 2em rgba(0, 0, 0, 0.2);
  -webkit-transform-origin: 0 0;
  -moz-transform-origin: 0 0;
  -ms-transform-origin: 0 0;
  -o-transform-origin: 0 0;
  transform-origin: 0 0;
  overflow: hidden;
}
.github--ribbon a {
  text-decoration: none;
  display: block;
  width: 100%;
  height: 100%;
}
.github--ribbon a span {
  margin: 2.6em 1.5em;
  font-size: 2.5em;
  display: block;
  color: #fff;
  opacity: .8;
  -webkit-transition: opacity 0.2s ease, transform 0.4s ease;
  -moz-transition: opacity 0.2s ease, transform 0.4s ease;
  transition: opacity 0.2s ease, transform 0.4s ease;
}
.github--ribbon:hover a span {
  opacity: 1;
}
.github--ribbon[class*="top-"] {
  top: 0;
}
.github--ribbon[class*="bottom-"] {
  bottom: -10em;
}
.github--ribbon[class*="bottom-"] span {
  margin-top: .5em;
  margin: .4em 1.6em;
  -webkit-transform: rotate(-180deg);
  -moz-transform: rotate(-180deg);
  -ms-transform: rotate(-180deg);
  -o-transform: rotate(-180deg);
  transform: rotate(-180deg);
}
.github--ribbon[class*="-left"] {
  left: 0;
}
.github--ribbon[class*="-right"] {
  right: -10em;
}
.github--ribbon[class*="top--right"] span {
  -webkit-transform: rotate(90deg) translateY(1em);
  -moz-transform: rotate(90deg) translateY(1em);
  -ms-transform: rotate(90deg) translateY(1em);
  -o-transform: rotate(90deg) translateY(1em);
  transform: rotate(90deg) translateY(1em);
  margin: 1.5em 1em;
  margin-top: 2em;
}
.github--ribbon[class*="bottom--left"] span {
  -webkit-transform: rotate(-90deg) translateY(1em);
  -moz-transform: rotate(-90deg) translateY(1em);
  -ms-transform: rotate(-90deg) translateY(1em);
  -o-transform: rotate(-90deg) translateY(1em);
  transform: rotate(-90deg) translateY(1em);
  margin: 0.5em 2em;
  margin-top: 2em;
}
.github--ribbon.ribbon--blue {
  background: #1b9af7;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), inset 0 0 2em #0662a6, inset 0 0 4em rgba(0, 0, 0, 0.2);
}
.github--ribbon.ribbon--red {
  background: #FF4351;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), inset 0 0 2em #dc0010, inset 0 0 4em rgba(0, 0, 0, 0.2);
}
.github--ribbon.ribbon--green {
  background: #2ecc71;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), inset 0 0 2em #1b7943, inset 0 0 4em rgba(0, 0, 0, 0.2);
}
.github--ribbon.ribbon--orange {
  background: #feae1b;
  box-shadow: 0 0 0 1px rgba(0, 0, 0, 0.15), inset 0 0 2em #b27401, inset 0 0 4em rgba(0, 0, 0, 0.2);
}
